.Header {
    padding: 0 15px;
}

.Header .util_box .util ul {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 30px;

    display: flex;
    gap: 30px;
    justify-content: right;
}

.Header .util_box {
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
    font-size: 14px;
}

.Header .header_wrap {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    line-height: 80px;
    justify-content: space-between;

}

.Header .header_wrap h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.Header .header_wrap .gnb>ul {
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
}

.Header .header_wrap .gnb ul i {
    font-size: 18px;
    font-weight: 800;
}

.Header .header_wrap .gnb ul>li:hover {
    color: #4c5d9d;
}

.Header .header_wrap .book i {
    font-size: 18px;
    font-weight: 500;
}

.Header .header_form {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.Header .header_form .fieldset {
    text-align: center;
}

.header_form_box {
    padding: 0 0 32px 0;
    border-bottom: 1px solid #4c5d9d;
}